{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <h4>About</h4>
    <p>I would like to express my heartfelt gratitude to the entire CS50x team at Harvard University for their invaluable guidance and support throughout the CS50 certification course. This project would not have been possible without their dedication and expertise.</p>
    <p>I extend my deepest thanks to our esteemed instructor, David Malan, for his unwavering commitment to teaching and their passion for computer science. Their lectures, assignments, and insights have been instrumental in shaping<br> my understanding of the subject matter.</p>
    <p>I would also like to acknowledge the incredible support provided by the teaching assistants and the entire support team.</p>

    <h5>Websites that Inspired and Guided Me</h5>
    <p>In the process of creating this resume builder website, I relied on various online resources that proved to be invaluable sources of knowledge and inspiration. I would like to express my gratitude to the following websites:</p>
    <ol>
        <li><strong>W3Schools <a href="https://www.w3schools.com" target="_blank">(https://www.w3schools.com)</a>:</strong> W3Schools has been an essential reference for web development, providing clear and concise tutorials on HTML, CSS, and JavaScript.</li>
        <li><strong>GitHub <a href="https://github.com" target="_blank">(https://github.com)</a>:</strong> GitHub served as a version control platform, enabling collaboration and tracking changes in my project.</li>
        <li><strong>Bootstrap <a href="https://getbootstrap.com" target="_blank">(https://getbootstrap.com)</a>:</strong> Bootstrap's responsive design framework helped me create an aesthetically pleasing and user-friendly interface for my website.</li>
        <li><strong>Canva <a href="https://www.canva.com" target="_blank">(https://www.canva.com)</a>:</strong> Canva's design tools aided in creating visually appealing graphics and layouts for the website.</li>
        <li><strong>Google Fonts <a href="https://fonts.google.com" target="_blank">(https://fonts.google.com)</a>:</strong> Google Fonts provided a diverse selection of typography options to enhance the overall design of the website.</li>
        <li><strong>Novoresume <a href="https://novoresume.com" target="_blank">(https://novoresume.com)</a>:</strong> Novoresume, the resume builder site that inspired me.</li>
    </ol>
    <p>These resources played a pivotal role in enhancing my skills and knowledge, enabling me to develop this resume builder website. I am sincerely grateful for the wealth of information and support they provided.</p>
    <p>Thank you to everyone who contributed to this project's success, and to the broader community of learners and developers who make the world of technology so exciting and rewarding.</p>
    <br>
    <p>Sincerely, <br><br> Buse Mengen</p>
{% endblock %}