{% extends "layout.html" %}

{% block title %}
    Tips - Achievements
{% endblock %}

{% block main %}
    <h4>Achievements</h4><br>
    <p>The "Achievements" section of your resume provides a space to highlight any specific awards, honors, or recognitions you've received throughout your academic and professional journey. This section can help showcase your exceptional accomplishments and standout qualities. Here's how to elaborate on each element:</p>
    <ol>
        <li><strong>Achievement:</strong> Describe the specific achievement you received.</li>
        <li><strong>Date and Context:</strong> Include the date or time frame when you achieved this recognition and provide a brief context for it.</li>
        <li><strong>Description:</strong> Explain the significance of the achievement and what it demonstrates about your skills, character, or accomplishments.</li>
        <li><strong>Relevance:</strong> Connect the achievement to the job you're applying for, emphasizing how it aligns with the position's requirements.</li>
    </ol>

    <div class="card border-dark mb-3" style="max-width: 100rem;">
        <div class="card-header">Example:</div>
        <div class="card-body">
            <h6 class="card-title">Dean's List Scholar<hr>Fall 20XX - Spring 20XX</h6>
            <p class="card-text">
                <ul>
                    <li>Recognized for maintaining a GPA in the top 10% of the class.</li>
                    <li>Demonstrates consistent dedication to academic excellence and time management skills.</li>
                    <li>Relevant to the position by showcasing a strong work ethic and commitment to success.</li>
                </ul>
            </p>
        </div>
    </div>

    <p>Including an "Achievements" section can give employers a clear sense of your dedication, capabilities, and contributions beyond your regular responsibilities. Highlight achievements that are relevant to the job and demonstrate qualities that make you a desirable candidate.</p>
{% endblock %}