{% extends "layout.html" %}

{% block title %}
    Tips - Certifications
{% endblock %}

{% block main %}
    <h4>Certifications</h4><br>
    <p>The "Certifications" section of your resume allows you to showcase any professional certifications or training you've completed that are relevant to the job you're applying for. Certifications indicate your expertise and commitment to continuous learning. Here's how to elaborate on each element:</p>
    <ol>
        <li><strong>Certification Title:</strong> State the name of the certification you've earned.</li>
        <li><strong>Issuing Organization:</strong> Mention the organization that issued the certification.</li>
        <li><strong>Date Earned:</strong> Include the date when you obtained the certification.</li>
        <li><strong>Description (Optional):</strong> Provide a brief description of the certification's focus or its relevance to the job.</li>
    </ol>

    <div class="card border-dark mb-3" style="max-width: 100rem;">
        <div class="card-header">Example:</div>
        <div class="card-body">
            <h6 class="card-title">Certified Six Sigma Green Belt<hr>Six Sigma Institute | July 20XX</h6>
            <p class="card-text">
                <ul>
                    <li>Comprehensive training in process improvement methodologies and data-driven problem-solving techniques.</li>
                </ul>
            </p>
        </div>
    </div>

    <p>Including certifications in your resume demonstrates your commitment to professional development and your proficiency in specific areas. This can enhance your qualifications and make you a more attractive candidate for the job.</p>
{% endblock %}