{% extends "layout.html" %}

{% block title %}
    Tips - Conferences
{% endblock %}

{% block main %}
    <h4>Conferences</h4><br>
    <p>The "Conferences" section of your resume allows you to highlight any professional conferences or events you've attended. This section showcases your commitment to staying updated with industry trends and networking with professionals in your field. Here's how to elaborate on each element:</p>
    <ol>
        <li><strong>Conference Name:</strong> Mention the official name of the conference or event.</li>
        <li><strong>Date and Location:</strong> Include the date(s) when the conference took place, as well as the location (city and state or country).</li>
        <li><strong>Brief Description:</strong> Provide a concise overview of the conference's focus, theme, or main topics covered.</li>
    </ol>
    <div class="card border-info mb-3" style="max-width: 100rem;">
        <div class="card-header">Example:</div>
        <div class="card-body">
        <h6 class="card-title">Conferences:</h6>
        <p class="card-text">
            <ul>
                <li>International Biomedical Engineering Conference (IBEC)</li>
            </ul>
            July 20XX | New York, NY<hr>Explored cutting-edge research and advancements in biomaterials and medical devices.
        </p>
        </div>
    </div>

    <p>By including this section, you're demonstrating your proactive engagement in professional development, your willingness to learn from industry leaders, and your interest in staying current with the latest developments in your field.</p>
{% endblock %}