{% extends "layout.html" %}

{% block title %}
    Tips - Hobbies/Interests
{% endblock %}

{% block main %}

    <h4>Hobbies/Interests</h4><br>
    <p>The "Hobbies/Interests" section of your resume provides insights into your personality, outside interests, and activities that can showcase your well-roundedness and transferable skills. Here's how to elaborate on each element:</p>
    <ol>
        <li><strong>Hobbies/Interests:</strong> List a few hobbies or interests that reflect your passions and activities outside of work.</li>
        <li><strong>Relevance:</strong> If possible, connect your hobbies or interests to skills or qualities relevant to the job.</li>
        <li><strong>Brief Explanation (Optional):</strong> You can provide a brief explanation of each hobby or interest if it's not immediately clear how it relates to the job.</li>
            <br>
            <div class="card border-danger mb-3" style="max-width: 100rem;">
                <div class="card-header">Example:</div>
                <div class="card-body">
                    <h5 class="card-title">Hobbies/Interests:</h5>
                    <p class="card-text">
                        <ul><em>
                            <li><strong>Marathon Running:</strong> Demonstrates discipline, determination, and goal-setting.</li>
                            <li><strong>Photography:</strong> Highlights creativity and attention to detail.</li>
                            <li><strong>Volunteer Work:</strong> Showcases community involvement and teamwork.</li>
                        </em></ul>
                    </p>
                </div>
            </div>
    </ol>

    <p>The "Hobbies/Interests" section allows potential employers to see you as a well-rounded individual with diverse interests, skills, and qualities that can contribute to a positive workplace environment.</p>
{% endblock %}