{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h3>
    Welcome to <strong>Great Job Resume Builder</strong>
    <small class="text-body-secondary">- Your Path to Crafting the Perfect Resume!</small>
    </h3>
    <p class="lead">In the competitive world of job hunting, your resume is your first impression. At Great Job, we understand the importance of standing out from the crowd. That's why we've created a platform that empowers you to create a polished and professional resume that truly represents your skills and experiences.</p>
    <p class="lead">With our user-friendly resume builder, you can design a stunning resume that captures the attention of employers and showcases your potential. Whether you're a recent graduate, a seasoned professional, or somewhere in between, Great Job Resume Builder provides you with the tools you need to present yourself confidently and effectively.</p>

    <div align="center">
        <img src="static/adsız.png" alt="pic">
    </div>

    <figure class="text-center">
    <blockquote class="blockquote">
        <p class="mb-0"><em>Crafting your perfect resume is just a few clicks away. Let's help you land your dream job!</em></p>
    </figure>
    <br>
    <div align="center">
        <a href="/get_started" class="btn btn-primary btn-lg">Let's Get Started</a>
    </div>
    <br><br><br>
    <div>
        <h3><strong>How It Works:</strong></h3>
        <div class="bd-example" align="middle">
        <img src="static/howhow.png" alt="how it works" width="1500"/>
        </div>
    </div>
{% endblock %}