{% extends "layout.html" %}

{% block title %}
    Tips - Organizations
{% endblock %}

{% block main %}
    <h4>Organizations or Memberships</h4><br>
    <p>The "Organizations" or "Memberships" section of your resume provides information about professional associations, clubs, or groups you're affiliated with. This section can showcase your commitment to your field and your engagement within relevant communities. Here's how to elaborate on each element:</p>
    <ol>
        <li><strong>Organization Name:</strong> Mention the name of the professional association, club, or group you're a part of.</li>
        <li><strong>Position (if applicable):</strong> If you hold a leadership position within the organization, mention it (e.g., President, Treasurer).</li>
        <li><strong>Duration:</strong> Include the dates during which you've been a member or held a position.</li>
        <li><strong>Description (Optional):</strong> Provide a brief description of the organization's focus, your involvement, and any relevant contributions.</li>
    </ol>
    <div class="card border-info mb-3" style="max-width: 100rem;">
        <div class="card-header">Example:</div>
        <div class="card-body">
        <h6 class="card-title">Memberships:</h6>
        <p class="card-text">
            <ul>
                <li>American Society of Mechanical Engineers (ASME)</li>
            </ul>
            Member | January 20XX - Present<hr>Actively participate in technical workshops and networking events.
        </p>
        </div>
    </div>

    <p>Including your memberships in professional organizations shows your dedication to continuous learning and engagement within your field. It can also indicate that you're proactive in staying updated on industry trends and connecting with peers.</p>
{% endblock %}