{% extends "layout.html" %}

{% block title %}
    Tips - Projects
{% endblock %}

{% block main %}
    <h4>Projects</h4><br>
    <p>The "Projects" section of your resume provides insights into the specific projects you've worked on that are relevant to the job you're applying for. This section allows you to showcase your hands-on experience and practical application of skills. Here's how to elaborate on each element:</p>
    <ol>
        <li><strong>Project Title:</strong> Provide a concise title for the project.</li>
        <li><strong>Date and Duration:</strong> Include the timeframe during which you worked on the project.</li>
        <li><strong>Brief Description:</strong> Provide a short overview of the project's purpose and objectives.</li>
        <li><strong>Your Role:</strong> Detail your specific role and responsibilities in the project.</li>
        <li><strong>Skills Applied:</strong> Mention the technical skills, methodologies, or tools you utilized during the project.</li>
        <li><strong>Achievements:</strong> Highlight any notable outcomes, achievements, or results of the project.</li>
        <li><strong>Challenges and Solutions:</strong> Briefly discuss any challenges faced during the project and how you addressed them.</li>
    </ol>

    <div class="card border-dark mb-3" style="max-width: 100rem;">
        <div class="card-header">Example:</div>
        <div class="card-body">
            <h6 class="card-title">Bioinformatics Research Project<hr>May 20XX - August 20XX</h6>
            <p class="card-text">
                <ul>
                    <li>Collaborated with a team to analyze DNA sequences for genetic mutations.</li>
                    <li>Utilized Python for data processing and statistical analysis.</li>
                    <li>Identified a novel mutation associated with a rare genetic disorder.</li>
                    <li>Presented findings at a regional genetics conference.</li>
                </ul>
            </p>
        </div>
    </div>

    <p>The "Projects" section demonstrates your practical skills and how you've applied them to real-world scenarios. It's especially useful for showcasing your experience if you're an entry-level candidate or if the projects align closely with the job you're seeking.</p>
{% endblock %}