{% extends "layout.html" %}

{% block title %}
    Tips - Skills
{% endblock %}

{% block main %}

    <h4>Skills</h4><br>
    <p>The "Skills" section of your resume is a place to showcase your technical, soft, and language skills that are relevant to the job you're applying for. Here's how to elaborate on each element:</p>
    <ol>
        <li><strong>Technical Skills:</strong> List specific technical skills related to your field or the job requirements. These can include software, tools, methodologies, and equipment you're familiar with.</li>
            <br>
            <div class="card border-danger mb-3" style="max-width: 100rem;">
                <div class="card-header">Example:</div>
                <div class="card-body">
                    <h5 class="card-title">Technical Skills:</h5>
                    <p class="card-text"><em>Microsoft Office Suite, Python Programming, AutoCAD, Data Analysis, Statistical Modeling</em></p>
                </div>
            </div>
        <li><strong>Soft Skills:</strong> Mention soft skills that demonstrate your ability to work well in a team, communicate effectively, and adapt to various situations.</li>
            <br>
            <div class="card border-success mb-3" style="max-width: 100rem;">
                <div class="card-header">Example:</div>
                <div class="card-body">
                    <h5 class="card-title">Soft Skills:</h5>
                    <p class="card-text"><em>Effective Communication, Problem-Solving, Team Collaboration, Time Management</em></p>
                </div>
            </div>
    </ol>

    <p>Remember that your skills should be relevant to the job you're applying for. Review the job description and tailor this section accordingly. Use clear, concise language and bullet points for easy readability.</p>
{% endblock %}