{% extends "layout.html" %}

{% block title %}
    Tips - Summary
{% endblock %}

{% block main %}
    <h4>Summary or Objective</h4><br>
    <p>The "Summary" or "Objective" section of your resume provides a concise overview of your qualifications, skills, and career goals. This section is an opportunity to grab the employer's attention and give them a quick glimpse of what you bring to the table.</p>
    <ol>
        <li><strong>Summary:</strong> A summary is a brief paragraph (2-3 sentences) that highlights your key skills, experiences, and career achievements. It's particularly effective if you have some years of experience.</li>
            <br>
            <div class="card border-success mb-3" style="max-width: 100rem;">
                <div class="card-header">Example:</div>
                <div class="card-body">
                  <p class="card-text"><em>Results-oriented bioengineer with 5+ years of experience in medical device design and research. Proficient in CAD, biomaterials, and regulatory compliance. Adept at collaborating across cross-functional teams to deliver innovative solutions.</em></p>
                </div>
            </div>
        <li><strong>Objective:</strong> An objective is a brief statement (1-2 sentences) that outlines your career goals and the type of position you're seeking. This is useful for entry-level candidates or those changing industries.</li>
            <br>
            <div class="card border-info mb-3" style="max-width: 100rem;">
                <div class="card-header">Example:</div>
                <div class="card-body">
                <p class="card-text"><em>Motivated bioengineering graduate seeking a challenging role where I can apply my strong analytical skills and passion for medical technology development to contribute to innovative healthcare solutions.</em></p>
                </div>
            </div>
    </ol>

    <p>In both cases, keep your summary or objective focused, specific, and aligned with the position you're applying for. Avoid generic statements and try to highlight what makes you unique and a good fit for the role.</p>
{% endblock %}